.select {
  position: relative;
  cursor: pointer;
  min-width: 200px;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;

  &::before {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #000000 transparent transparent transparent;
    transform: translateY(-50%) rotate(0deg);
    transition: transform .2s linear;
  }

  &.active::before {
    transform: translateY(-50%) rotate(180deg);
  }

  &__label {
    font-size: 16px;
    font-weight: 300;
  }

  &__options {
    display: none;
  }
}
